html{
    height: 100%;
}

body {
    min-height: 100vh;
    background-color: #a3b18a;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.5rem;
    margin: 0;
}

.carousel{
    padding-top: 20px;
    max-width: 1170px;
    margin: auto;
}

.carousel p, h5{
    color: black;
    font-size: 20px;
}

.cards {
    display: flex;
    margin: auto;
    padding: 3rem 0;
    width: 90%;
    max-width: 1200px;
}

h2{
    text-align: left;
    max-inline-size: 50ch;
}

.card {
    background-color: #dad7cd;
    border: solid 3px #588157;
    margin: 0 1%;
    vertical-align: top;
    padding: 20px;
}

.cardBody{
    max-width: 100%;
}

#card1{
    background-color: #588157;
    color: whitesmoke;
}


.lowerContent{
    text-align: center;
}

.moreCards{
    padding: 1rem 0;
    width: 90%;
    max-width: 1206px;
    margin: auto auto 50px auto;
    display: flex;
    justify-content: center;
}

.card-text{
    font-size: 20px;
}