html {
    height: 100%;
}

body {
    min-height: 100vh;
    background-color: #a3b18a;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.5rem;
    margin: 0;
}

.content {
    padding-top: 20px;
    max-width: 1170px;
    margin: 10% auto;
    padding: 7%;
    background-color: #dad7cd;
}